*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.headertitle{
    display: flex;
    align-items: center;
    justify-content:center;
}

.headerimg{
    width: 100%;
    background-size: cover;
}

.headerimg{
    
}