*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Home{
    background-image: url("../img/background.jpg");
    min-width: 980px;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}